AUTH_DB_USER=example_user
AUTH_DB_PASSWORD=your_password
NOTIF_DB_USER=example_user
NOTIF_DB_PASSWORD=your_password
CATALOG_DB_USER=example_user
CATALOG_DB_PASSWORD=your_password
DELIVERY_DB_USER=example_user
DELIVERY_DB_PASSWORD=your_password
BILLING_DB_USER=allama
BILLING_DB_PASSWORD=poop
JWT_ALGORITHM=RS256
GATEWAY_AUTH_URL=http://localhost:8001
GATEWAY_NOTIF_URL=http://localhost:8002
GATEWAY_CATALOG_URL=http://localhost:8003
GATEWAY_DELIVERY_URL=http://localhost:8004
