AUTH_DB_USER=example_user
NOTIF_DB_USER=example_user
AUTH_DB_PASSWORD=your_password
NOTIF_DB_PASSWORD=your_password
JWT_SECRET=random_string
GATEWAY_AUTH_URL=http://localhost:8001
GATEWAY_NOTIFICATION_URL=http://localhost:8002
GATEWAY_JWT_SECRET=random_string
