AUTH_DB_USER=example_user
AUTH_DB_PASSWORD=your_password
NOTIF_DB_USER=example_user
NOTIF_DB_PASSWORD=your_password
CATALOG_DB_USER=example_user
CATALOG_DB_PASSWORD=your_password
DELIVERY_DB_USER=example_user
DELIVERY_DB_PASSWORD=your_password
BILLING_DB_USER=example_user
BILLING_DB_PASSWORD=your_password
REPORTING_DB_USER=example_user 
REPORTING_DB_PASSWORD=your_password
JWT_ALGORITHM=RS256
GATEWAY_AUTH_URL=http://auth:8000
GATEWAY_NOTIF_URL=http://notification:8000
GATEWAY_CATALOG_URL=http://catalog:8000
GATEWAY_DELIVERY_URL=http://delivery:8000
GATEWAY_REPORTING_URL=http://reporting:8000
